html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: 'Permanent Marker', cursive;
}

#message-pane {
    background-image: url("/assets/images/leap.gif");
    background-repeat: no-repeat;
    background-position: center;
}

#form-card {
    margin: 0px;
}

.material-icons {
    font-size: 48px !important;
    font
}

.message-card {
    max-width: 75%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}